body{
    background-color: black;
    align-items: center;
}

.Heading {
    text-align: center;
    color: white;
    margin: 50px;
}

.SubHeading{
    font-size: 25px;
}

div{
    margin: 50px;

    position: relative;

    padding: 10px;
    border : 2px solid crimson;

    text-align: center;
    color: white;

    font-size: 18px;
}

img{
    margin: 5px;
}

a.link{
    color: white;
    text-decoration: none;
}
a.link:hover{
    color: blue;
    text-decoration: underline;
}
